<%- include('./partials/head') %>
  <% if (user) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
   

<div class="container products-wrapper">
  <div class="row">
    <div class="col-12-r">
      <h2 class="products-title">Agregar producto</h2>
    </div>
    <div class="col-12 col-md-6 offset-md-3">
      <form action="/products/product-add" method="POST" class="product-form-r">
        <div class="form-group-r">
          <label for="image" class="url">Imagen del producto (URL):</label>
          <input type="text" id="image" name="image" class="form-control-r" required>
        </div>
        <div class="form-group-r">
          <label class="url" for="name">Nombre del producto:</label>
          <input type="text" id="name" name="nombre" class="form-control-r" required>
        </div>
        <div class="form-group-r">
          <label class="url" for="description">Descripción:</label>
          <textarea id="description" name="descripcion" class="form-control-r" rows="4" required></textarea>
        </div>
        <input type="hidden" name="usuarioId" value="<%= usuarioId %>">
        <button  type="submit"  class="btnagregar">Agregar producto</button>
      </form>
	  
    </div>
  </div>
</div>

<%- include('partials/footer') %>
