<%- include('./partials/head') %>
  <% if (user) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
   

<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= info.nombre %></h2> 
        <p class="product-detail-description">
            <a href="/">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= info.imagen %>" alt="" class="product-detail-img">
                <p class="product-detail-description"><%= info.descripcion %></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <h3>Comentarios</h3>
					<% for (let i = comentarioInfo.length - 1; i >= 0; i--) { %>
  					<div class="comentario">
   						 <p><strong>
      					  <a href="/user/profile/<%= comentarioInfo[i].usuario.id %>">
         				 <%= comentarioInfo[i].usuario.nombre %> </a></strong> comentó:</p>
    							<p><%= comentarioInfo[i].texto %></p>
                                <p><%= comentarioInfo[i].createdAt %></p>
                     </div>
                     <% } %>
				</section>
                <form class="form" action="/products/comentarios/crear" method="post">
                    <input type="text" name="producto_id" value="<%= info.id %>" hidden>
                    <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario">
                    <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
            </div>
        </div>
    </div>
</div>

<%- include('./partials/footer') %>
