<%- include('./partials/head') %>
  <% if (user) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
   

<div class="container products-wrapper">
    <div class="d-flex align-items-center">
        <h2 class="products-title"><%= info.nombre %></h2> 
        <p class="product-detail-description">
            <a href="/">Editar</a>
        </p>
    </div>
    <div class="product-detail">
        <div class="row">
            <article class="col-12 col-lg-8 product-detail-info">
                <img src="<%= info.imagen %>" alt="" class="product-detail-img">
                <p class="product-detail-description"><%= info.descripcion %></p>
            </article>
            <div class="col-12 col-lg-4">
                <section class="comments">
                    <h3>Comentarios</h3>
					<% for (let i = comentarioInfo.length - 1; i >= 0; i--) { %>
  					<div class="comentario">
   						 <p><strong>
      					  <a href="/user/profile/<%= comentarioInfo[i].usuario.username %>">
                          <%= comentarioInfo[i].usuario.username %>
                          </a>
                                </strong> comentó:</p>
    							<p><%= comentarioInfo[i].texto %></p>
                                <p><%= comentarioInfo[i].createdAt %></p>
                     </div>
                     <% } %>
				</section>
               <% if (user) { %>
         <form class="form" action="/products/comentarios/crear" method="POST">
         <input type="hidden" name="producto_id" value="<%= info.id %>">
         <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" required>
         <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
         </form>
                <% } else { %>
         <p class="IN">Para comentar, <a class= "link"  href="/user/login">iniciá sesión</a> o <a class="link" href="/user/register">registrate</a>.</p>
                <% } %>
            
             </div>
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>
