<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />
	<title>Producto - Mercado Liebre</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
	<link rel="stylesheet" href="../public/stylesheets/style.css">
	<script src="/js/forms.js"></script>
</head>
<body>

	<% if (locals.isLoggedIn) { %>
		<%- include('partials/headerLogueado', { user, isLoggedIn }) %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<main class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.name %></h2>
			<% if (locals.isLoggedIn) { %>
				<p class="product-detail-description">
					<a href="/products/add">Editar</a>
				</p>
			<% } %>
		</div>

		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.image || '/images/products/default-image.png' %>" alt="<%= product.name %>" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description %>
					</p>
				</article>

				<div class="col-12 col-lg-4">
					<section class="comments">
						<% if (product.comments && product.comments.length > 0) { %>
							<% product.comments.forEach(comment => { %>
								<article>
									<img src="<%= comment.user.profilePicture || '/images/users/default-image.png' %>" alt="<%= comment.user.name %>">
									<div class="data">
										<p class="user">
											<strong><a href="/profile"><%= comment.user.name %></a></strong>
											<%= comment.text %>
										</p>
									</div>
								</article>
							<% }); %>
						<% } else { %>
							<p>No hay comentarios aún</p>
						<% } %>
					</section>

					<form class="form" action="" method="POST">
						<input class="form-input" type="text" name="comment" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</main>

	<%- include('partials/footer') %>

</body>
</html>
