<%- include('./partials/head') %>
<%- include('./partials/headerLogueado') %>

<section class="info-usuario container products-wrapper">
  <div class="row">
    <div class="img-container offset-3 col-2">
      <img src="<%= user.foto %>" alt="foto de perfil" class="foto-perfil">
    </div>
    <div class="data-container col-6">
      <div class="d-flex align-items-center ">
        <h1 class="main-title">
          <%= user.username %>
          <a href="/user/profile">
            <i class="fas fa-cog"></i>
          </a>
        </h1>
        <a class="btn mt-3 ml-4" href="/">SEGUIR</a>
      </div>
      <div>
        <ul class="">
          <li><%= user.email %></li>
          <li><%= productCount %> productos</li>
          <li>200 seguidores</li>
          <li>300 comentarios</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- /Datos del usuario -->

<!-- Mostrar productos -->
<div class="container products-wrapper">
  <div class="row">
    <div class="col-12">
      <h2 class="products-title">Mis productos</h2>
    </div>

    <% if (products && products.length > 0) { %>
      <% for (let i = 0; i < products.length; i++) { %>
        <div class="col-12 col-sm-6 col-lg-3">
          <section class="product-box">
            <a href="/products/id/<%= products[i].id %>">
              <figure class="product-box_image">
                <img src="<%= products[i].imagen %>" alt="">
              </figure>
              <article class="product-box_data">
                <h2><%= products[i].nombre %></h2>
              </article>
            </a>
          </section>
        </div>
      <% } %>
    <% } else { %>
      <div class="col-12">
        <i>No tenés productos cargados todavía.</i>
      </div>
    <% } %>
  </div>
</div>
<!-- /Mis productos -->

<%- include('./partials/footer') %>
